extends layout3

block content
		.page_container
			.blockpage_container
				.page_title(style='background-color: #FF7043;')
					span.page_logo-webcam
					| Webcam
				.blockpage_innercontainer
					.grid_display
						.webcam_display
						.web_huertcont
							.huert_minidisplay
								.section_huert
									div PISO 1
								.section_huert
									div PISO 2
